<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

  admin-container {
    min-height: 100vh;
    background: #eef5fe;
    display: flex;
  }

  /* Pre css */
  .flex {
    display: flex;
    align-items: center;
  }

  .nav_image {
    display: flex;
    min-width: 55px;
    justify-content: center;
  }

  .nav_image img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: #c9c9c9;
    padding: 15px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }

  .sidebar.close {
    width: calc(55px + 20px);
  }

  .logo_items {
    gap: 8px;
  }

  .logo_name {
    font-size: 22px;
    color: #333;
    font-weight: 500px;
    transition: all 0.3s ease;
  }

  .sidebar.close .logo_name,
  .sidebar.close #lock-icon,
  .sidebar.close #sidebar-close {
    opacity: 0;
    pointer-events: none;
  }

  #lock-icon,
  #sidebar-close {
    padding: 10px;
    color: #4070f4;
    font-size: 25px;
    cursor: pointer;
    margin-left: -4px;
    transition: all 0.3s ease;
  }

  #sidebar-close {
    display: none;
    color: #333;
  }

  .menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100% - 82px);
  }

  .menu_container::-webkit-scrollbar {
    display: none;
  }

  .menu_title {
    position: relative;
    height: 50px;
    width: 55px;
  }

  .menu_title .title {
    margin-left: 15px;
    transition: all 0.3s ease;
  }

  .sidebar.close .title {
    opacity: 0;
  }

  .menu_title .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    border-radius: 25px;
    background: #aaa;
    transition: all 0.3s ease;
  }

  .menu_title .line {
    opacity: 0;
  }

  .sidebar.close .line {
    opacity: 1;
  }

  .item {
    list-style: none;
  }

  .link {
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #707070;
  }

  .link:hover {
    color: black;
    background-color: #fff;
    border-radius: 8px;
  }

  .isOpened {
    color: black;
    background-color: #fff;
    border-radius: 8px;
  }

  .link span {
    white-space: nowrap;
  }

  .link i {
    height: 50px;
    min-width: 55px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  .sidebar_profile {
    padding-top: 15px;
    margin-top: 15px;
    gap: 15px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }

  .sidebar_profile .name {
    font-size: 18px;
    color: #333;
  }

  .sidebar_profile .email {
    font-size: 15px;
    color: #333;
  }

  /* NavbarAdmin */
  .navbarAdmin {
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
    background: #fff;
    padding: 10px 20px;
    border-radius: 0 0 8px 8px;
    justify-content: space-between;
  }

  #sidebar-open {
    font-size: 30px;
    color: #333;
    cursor: pointer;
    margin-right: 20px;
    display: none;
  }

  .navbarAdmin img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
  }

  /* Responsive */
  @media screen and (max-width: 1100px) {
    .navbarAdmin {
      left: 65%;
    }
  }

  @media screen and (max-width: 800px) {
    .sidebar {
      left: 0;
      z-index: 1000;
    }

    .sidebar.close {
      left: -100%;
    }

    #sidebar-close {
      display: block;
    }

    #lock-icon {
      display: none;
    }

    .navbarAdmin {
      left: 0;
      max-width: 100%;
      transform: translateX(0%);
    }

    #sidebar-open {
      display: block;
    }
  }

  .admin-content {
    min-height: 92.5vh;
    color: black;
    margin-left: 284px;
  }

  .result-component {
    background-color: #c9c9c9;
    margin: auto auto;
    width: 90%;
    height: 542px;
    padding: 12px;
    overflow-y: auto;
  }

  .btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .btn-search {
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 4px;
    width: 88px;
    font-size: 20px;
    margin-right: 32px;
  }
</style>

<div class="admin-container">

  <nav class="sidebar">
    <div class="menu_container">
      <div class="menu_items">
        <ul class="menu_item">
          <div class="menu_title flex">
            <span class="title">DASHBOARD</span>
            <span class="line"></span>
          </div>
          <li class="item">
            <a href="/admin/dashboard" class="link flex">
              <i class="bx bx-home-alt"></i>
              <span>Overview</span>
            </a>
          </li>
          <li class="item">
            <a href="/admin/database" class="link flex">
              <i class="bx bx-data"></i>
              <span>Database</span>
            </a>
          </li>
        </ul>
        <ul class="menu_item">
          <div class="menu_title flex">
            <span class="title">USERS</span>
            <span class="line"></span>
          </div>
          <li class="item">
            <a href="/admin/list-users?mode=all" class="link flex">
              <i class="bx bxs-user-detail"></i>
              <span>Managing users</span>
            </a>
          </li>
          <li class="item">
            <a href="/admin/search-user" class="link flex isOpened">
              <i class="bx bx-search"></i>
              <span>Searching user</span>
            </a>
          </li>
        </ul>
        <ul class="menu_item">
          <div class="menu_title flex">
            <span class="title">OTHER</span>
            <span class="line"></span>
          </div>
          <li class="item">
            <a href="/admin/contact" class="link flex">
              <i class="bx bx-envelope"></i>
              <span>Contact</span>
            </a>
          </li>
          <li class="item">
            <a href="/log-out" class="link flex">
              <i class="bx bx-log-out"></i>
              <span>Log out</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar_profile flex">
        <span class="nav_image">
          <img src="../../public/img/logomoney2.jpg" alt="logo_img" />
        </span>
        <div class="data_text">
          <span class="name">iamkhanhh</span>
          <span class="email">khanh9102004@gmail.com</span>
        </div>
      </div>
    </div>
  </nav>

  <div class="admin-content">
    <div class="search-component">
      <form action="/admin/search-user" method="post">
        <div class="row">
          <div class="col">
            <label for="inputEmail4">userName</label>
            <input type="text" id="userNameInput" name="userName" class="form-control" placeholder="Username">
          </div>
          <div class="col">
            <label for="inputEmail4">ID</label>
            <input type="text" id="fullNameInput" name="id" class="form-control" placeholder="user's ID">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="userProfession">Profession</label>
            <select id="userProfession" class="form-control" name="profession">
              <option selected>Choose...</option>
              <option>Student</option>
              <option>IT</option>
              <option>Doctor</option>
              <option>Teacher</option>
              <option>Worker</option>
              <option>Other</option>
            </select>
          </div>
          <div class="col">
            <label for="userGender">Gender</label>
            <select id="userGender" class="form-control" name="gender">
              <option selected>Choose...</option>
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
        </div>
        <div class="btn-container">
          <button type="summit" class="btn btn-outline-secondary btn-search">Search</button>
        </div>
      </form>
    </div>
    <hr>
    <div class="result-component mt-4">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">userName</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Profession</th>
            <th scope="col">isDeleted</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody>
            {{#if data}}
              {{#each data}}
                <tr>
                  <th scope="row">{{ this.id }}</th>
                  <td>{{ this.userName }}</td>
                  <td>{{ this.email }}</td>
                  <td>{{ this.gender }}</td>
                  <td>{{ this.profession }}</td>
                  <td>{{ this.isDeleted }}</td>
                  <td><a class="btn btn-outline-secondary" href="/admin/edit-user/{{ this.id }}" role="button"><i class='bx bxs-user-detail' ></i></a></td>
                </tr>
              {{/each}}
            {{else}}
              <tr>
                <td colspan="7">You haven't search any thing </td>
              </tr>
            {{/if}}
        </tbody>
      </table>
    </div>
  </div>

</div>